@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Source+Sans+Pro:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Merriweather:wght@700&family=Ubuntu:wght@500&display=swap');
@import url(//db.onlinewebfonts.com/c/9e00143409affcb46a1ae58634aa64be?family=Sofia+Pro);

.Patient_Registration {
  background-image: url(../patient/images/pat_reg.jpg);
  background-size: cover;
  right: -200px;
  /* padding-bottom: 80px; */
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
}


.wrapper{
  width: 500px;
  box-sizing: content-box;
  background-color:transparent;
  /* padding: 50px 40px; */
  /* padding-top: 30px; */
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.words{
  overflow: hidden;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pat_reg_head{
  margin-top: 50px;
  margin-left: 60px;
  width: 800px;
  font-family: 'Merriweather', serif;
  font-size: 100px;
  font-weight: 800;
}
.pat_reg_us_name{
  margin-left: 120px;
  width: 800px;
  font-family: 'Merriweather', serif;
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  width: fit-content;
}

.pat_msg_title{
  width: 300px;
  font-family: "Sofia Pro";
  font-size: 40px;
  font-weight: bold;
}
.rotate{
  font-family: 'Caveat', cursive;
  width: 300px;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-left: 10px;
  color: #ffffff;
  animation: spin_words 6s infinite;
}

@keyframes spin_words{
  10%{
      transform: translateY(-112%);
  }
  25%{
      transform: translateY(-100%);
  }
  35%{
      transform: translateY(-212%);
  }
  50%{
      transform: translateY(-200%);
  }
  60%{
      transform: translateY(-312%);
  }
  75%{
      transform: translateY(-300%);
  }
  85%{
      transform: translateY(-412%);
  }
  100%{
      transform: translateY(-400%);
  }
}

.form_div {
  position: relative;
  display: flex;
  flex-direction: row;
  right: -100px;
  backdrop-filter: blur(5px);
  width: 400px;
  margin-left: 0px;
  margin-top: 40px;
  /* margin-bottom: 40px; */
  padding-bottom: 40px;
  backdrop-filter: blur(20px);
}

.pat_reg_form {
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 30px;
  right: 0;
  /* backdrop-filter: blur(200px); */
  gap: 10px;
}

.pat_reg_form > input {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  width: 320px;
  height: 33px;
  border-radius: 5px;
  border: transparent;
  background-color: rgb(233, 232, 232);
  padding: 10px;
}

.pat_reg_form > select {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  width: 320px;
  height: 33px;
  border-radius: 5px;
  border: transparent;
  background-color: rgb(233, 232, 232);
  padding: 5px;
}

.pat_reg_btn {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #695022 0%,
    #d6c287 51%,
    #6c5307 100%
  );
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;

  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: block;
  border: none;
  outline: hidden;
  cursor: pointer;
  width: 300px;
  height: 50px;
}

.pat_reg_btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

.already_registered_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.imag_error {
  padding-top: 30px;
  position: relative;
  top: -120px;
  height: 600px;
}

.err_msg {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
  font-weight: 1800;
  position: relative;
  top: -220px;
}

.err_btn {
  position: relative;
  top: -200px;
  background-image: linear-gradient(
    to right,
    #614385 0%,
    #516395 51%,
    #614385 100%
  );
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 20px 58px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: block;
  border: none;
  outline: hidden;
  cursor: pointer;
  text-decoration: none;
}

.err_btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.link_txt {
  text-decoration: none;
}

.err_btn button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 800;
  background: transparent;
  border: transparent;
  color: white;
  cursor: pointer;
}
