@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Merriweather+Sans:ital,wght@0,700;0,800;1,700;1,800&family=Merriweather:wght@700&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Source+Sans+Pro:wght@400;600&display=swap");

.pat_det_back {
  background-color: rgb(232, 229, 220);
  background-image: url(./images/pat_prof_back.png);
  background-attachment: local;
  background-position: center;
  height: 721px;
  background-size: 1300px;
  /* background-position: 120px; */
  background-repeat: no-repeat;
}
.det_us_name {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin-right: 100px;
  left: 510px;
  top: 250px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  font-size: 60px;
  /* padding-left: 100px; */
  padding-bottom: 30px;
  /* overflow: hidden; */
}

.det_tab {
  position: relative;
  top: 200px;
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  position: relative;
  left: 550px;
  width: 180px;
  height: 100px;
  background-color: rgb(232, 229, 220);
  border-radius: 10px;
}

.avtSection {
  position: absolute;
  top: 28%;
  left: 57%;
}

.table_disp_cont{
  position: absolute;
  top:220px

}
