@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Source+Sans+Pro:wght@400;600&display=swap");

.welcome {
  min-height: 100vh;
  background-color: black;
  background-image: url("../components/images/home_rfid.png");
  background-size: cover;
}

.wlayout_nav {
  /* background-color: rgb(216,211,195); */
  padding: 25px;
  position: relative;
  z-index: 1;
}

.wnav_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wnav_links_item {
  position: relative;
  text-decoration: none;
  font-family: 'Source Sans Pro';
  color: #ffffff;
  font-size: 20px;
  font-weight: 650;
  letter-spacing: 0.5px;
  padding: 0 20px;
}

.wnav_links_item:after {
  content: "";
  position: absolute;
  background-color: rgb(169, 154, 105);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.wnav_links_item:hover{
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.wnav_links_item:hover:after{
  width: 100%;
}
.dc {
  color: black;
}

.wnav_links_item:hover {
  color: rgb(168, 157, 120);
}

.homeRect {
  width: 66%;
  height: 109%;
  position: fixed;
  right: -340px;
  top: -99px;
  object-fit: contain;
  overflow: hidden;
}

.homeLogo {
  width: 250px;
  height: 250px;
  object-fit: contain;
  position: absolute;
  top: -70px;
  left: 20px;
}

.homeDescRect {
  width: 400px;
  height: 400px;
  object-fit: contain;
  position: fixed;
  right: -89px;
  top: 108px;
  overflow: hidden;
}

.homeDescText {
  font-family: "Source Sans Pro", sans-serif;
  font-size: larger;
  position: absolute;
  right: 9px;
  max-width: 300px;
  top: 172px;
  background-color: rgb(216, 211, 195);
}

.nav_link_items_btn {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
  /* text-decoration: none; */
  font-family: 'Source Sans Pro';
  color: #000000;
  font-size: 20px;
  font-weight: 650;
  letter-spacing: 0.5px;
}

.nav_link_items_btn:hover {
  color: rgb(254, 254, 254);
}

